<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Setting-up-Environment" data-toc-modified-id="Setting-up-Environment-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Setting up Environment</a></span></li><li><span><a href="#Importing-Dataset" data-toc-modified-id="Importing-Dataset-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Importing Dataset</a></span></li><li><span><a href="#Dummy-Food-names" data-toc-modified-id="Dummy-Food-names-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Dummy Food names</a></span></li><li><span><a href="#Cuisine-Names" data-toc-modified-id="Cuisine-Names-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Cuisine Names</a></span></li><li><span><a href="#Exporting-Dataset" data-toc-modified-id="Exporting-Dataset-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Exporting Dataset</a></span></li></ul></div>

# Setting up Environment

In [1]:
import pandas as pd
import numpy as np
import random

# Importing Dataset

In [2]:
filepath = "Instagram/Cleaned data/"
filename = "All_posts.csv"

In [3]:
df = pd.read_csv(filepath + filename)  
df.head()

,timestamp,Username,caption,no. of likes,no. of comments,comments
0,30/6/2020,8days_eat,Katong’s famous Hokkien mee and fried mee sua ...,326,7,"['@lauren.khoury still can’t crack a smile 😬',..."
1,30/6/2020,8days_eat,"For the first time in Singapore, Heytea will b...",258,3,"['Awesomeeeee neeed this now', '@becauseitsdon..."
2,29/6/2020,8days_eat,Korean “fat-carons” — supersized macarons stuf...,453,3,['#8dayseat #sgfoodies #instafood #yum #sgfood...
3,29/6/2020,8days_eat,Online ordering system Oddle has launched a ne...,287,3,"['THANK YOU 👀📸🔥', 'Absolutely love this tinkat..."
4,29/6/2020,8days_eat,A canelé is a bite-sized French pastry from Bo...,431,3,"['@jet8food , I see it! 😁', '@brave_nic', '🙏🏼💗💗']"

In [4]:
numposts = df.shape[0]

# Dummy Food names

todo: replace with real food names

In [5]:
# Set seed for reproducibility
np.random.seed(0)

In [6]:
df["food"] = np.char.add(np.array(["food "]*numposts), np.random.randint(10, size=numposts).astype('str'))
df.head()

,timestamp,Username,caption,no. of likes,no. of comments,comments,food
0,30/6/2020,8days_eat,Katong’s famous Hokkien mee and fried mee sua ...,326,7,"['@lauren.khoury still can’t crack a smile 😬',...",food 5
1,30/6/2020,8days_eat,"For the first time in Singapore, Heytea will b...",258,3,"['Awesomeeeee neeed this now', '@becauseitsdon...",food 0
2,29/6/2020,8days_eat,Korean “fat-carons” — supersized macarons stuf...,453,3,['#8dayseat #sgfoodies #instafood #yum #sgfood...,food 3
3,29/6/2020,8days_eat,Online ordering system Oddle has launched a ne...,287,3,"['THANK YOU 👀📸🔥', 'Absolutely love this tinkat...",food 3
4,29/6/2020,8days_eat,A canelé is a bite-sized French pastry from Bo...,431,3,"['@jet8food , I see it! 😁', '@brave_nic', '🙏🏼💗💗']",food 7

# Cuisine Names

In [7]:
food_corpus = df["food"].unique()
food_corpus

array(['food 5', 'food 0', 'food 3', 'food 7', 'food 9', 'food 2',
       'food 4', 'food 6', 'food 8', 'food 1'], dtype=object)

In [8]:
cuisines_corpus = {"cuisine1": ['food 1', 'food 2', 'food 3'],
                   "cuisine2": ['food 4', 'food 5'],
                   "cuisine3": ['food 6'],
                   "cuisine4": ['food 7', 'food 8', 'food 9']
                  }

In [9]:
def get_cuisine(food):
    for cuisine, foods in cuisines_corpus.items():
        if food in foods:
            return cuisine
    return "No cuisine found"

In [10]:
df['cuisine'] = df["food"].apply(get_cuisine)
df.head()

,timestamp,Username,caption,no. of likes,no. of comments,comments,food,cuisine
0,30/6/2020,8days_eat,Katong’s famous Hokkien mee and fried mee sua ...,326,7,"['@lauren.khoury still can’t crack a smile 😬',...",food 5,cuisine2
1,30/6/2020,8days_eat,"For the first time in Singapore, Heytea will b...",258,3,"['Awesomeeeee neeed this now', '@becauseitsdon...",food 0,No cuisine found
2,29/6/2020,8days_eat,Korean “fat-carons” — supersized macarons stuf...,453,3,['#8dayseat #sgfoodies #instafood #yum #sgfood...,food 3,cuisine1
3,29/6/2020,8days_eat,Online ordering system Oddle has launched a ne...,287,3,"['THANK YOU 👀📸🔥', 'Absolutely love this tinkat...",food 3,cuisine1
4,29/6/2020,8days_eat,A canelé is a bite-sized French pastry from Bo...,431,3,"['@jet8food , I see it! 😁', '@brave_nic', '🙏🏼💗💗']",food 7,cuisine4

# Exporting Dataset

In [11]:
df.to_csv(filepath + filename[:-4] + "_dummyfood.csv")