<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Setting-up-Environment" data-toc-modified-id="Setting-up-Environment-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Setting up Environment</a></span></li><li><span><a href="#Importing-Dataset" data-toc-modified-id="Importing-Dataset-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Importing Dataset</a></span><ul class="toc-item"><li><span><a href="#Data-Pre-processing" data-toc-modified-id="Data-Pre-processing-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Data Pre-processing</a></span></li></ul></li><li><span><a href="#Function-Declarations" data-toc-modified-id="Function-Declarations-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Function Declarations</a></span></li><li><span><a href="#Wikipedia-corpus" data-toc-modified-id="Wikipedia-corpus-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Wikipedia corpus</a></span><ul class="toc-item"><li><span><a href="#Wikipedia-corpus-food" data-toc-modified-id="Wikipedia-corpus-food-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Wikipedia corpus food</a></span></li><li><span><a href="#Wikipedia-corpus-cuisine" data-toc-modified-id="Wikipedia-corpus-cuisine-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Wikipedia corpus cuisine</a></span></li></ul></li><li><span><a href="#Dummy-Food" data-toc-modified-id="Dummy-Food-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Dummy Food</a></span><ul class="toc-item"><li><span><a href="#Dummy-Food-names" data-toc-modified-id="Dummy-Food-names-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Dummy Food names</a></span></li><li><span><a href="#Dummy-Food-Cuisine" data-toc-modified-id="Dummy-Food-Cuisine-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Dummy Food Cuisine</a></span></li><li><span><a href="#Viewing-Labelled-Dataset" data-toc-modified-id="Viewing-Labelled-Dataset-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Viewing Labelled Dataset</a></span></li></ul></li><li><span><a href="#Exporting-Dataset" data-toc-modified-id="Exporting-Dataset-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Exporting Dataset</a></span></li></ul></div>

# Setting up Environment

In [2]:
import pandas as pd
import numpy as np
import random

# Importing Dataset

In [3]:
filepath = "../Instagram/Cleaned data/"
filename = "All_posts.csv"

In [4]:
df = pd.read_csv(filepath + filename)  
df.head()

,timestamp,Username,caption,no. of likes,no. of comments,comments
0,30/6/2020,8days_eat,Katong’s famous Hokkien mee and fried mee sua ...,326,7,"['@lauren.khoury still can’t crack a smile 😬',..."
1,30/6/2020,8days_eat,"For the first time in Singapore, Heytea will b...",258,3,"['Awesomeeeee neeed this now', '@becauseitsdon..."
2,29/6/2020,8days_eat,Korean “fat-carons” — supersized macarons stuf...,453,3,['#8dayseat #sgfoodies #instafood #yum #sgfood...
3,29/6/2020,8days_eat,Online ordering system Oddle has launched a ne...,287,3,"['THANK YOU 👀📸🔥', 'Absolutely love this tinkat..."
4,29/6/2020,8days_eat,A canelé is a bite-sized French pastry from Bo...,431,3,"['@jet8food , I see it! 😁', '@brave_nic', '🙏🏼💗💗']"

In [5]:
numposts = df.shape[0]

## Data Pre-processing

In the case, the only pre-processing we need to do is the convert all captions to lower case such that food names can be detected as all the names in our corpus are lower case names.

In [6]:
df["caption"] = df["caption"].apply(lambda x: x.lower())
df.head()

,timestamp,Username,caption,no. of likes,no. of comments,comments
0,30/6/2020,8days_eat,katong’s famous hokkien mee and fried mee sua ...,326,7,"['@lauren.khoury still can’t crack a smile 😬',..."
1,30/6/2020,8days_eat,"for the first time in singapore, heytea will b...",258,3,"['Awesomeeeee neeed this now', '@becauseitsdon..."
2,29/6/2020,8days_eat,korean “fat-carons” — supersized macarons stuf...,453,3,['#8dayseat #sgfoodies #instafood #yum #sgfood...
3,29/6/2020,8days_eat,online ordering system oddle has launched a ne...,287,3,"['THANK YOU 👀📸🔥', 'Absolutely love this tinkat..."
4,29/6/2020,8days_eat,a canelé is a bite-sized french pastry from bo...,431,3,"['@jet8food , I see it! 😁', '@brave_nic', '🙏🏼💗💗']"

# Function Declarations

In [7]:
def label_from_df_column(df_corpus, name_col, search_col):
    def helper(caption):
        if not caption: # checks if caption is blank
            return
        for i in range(len(df_corpus[search_col])):
            food = df_corpus[search_col][i]
            if food in caption:
                return df_corpus[name_col][i]

        # food not found
        return
    return helper

# Wikipedia corpus

In [8]:
corpusname = "wikipedia"

In [9]:
df_corpus = pd.read_csv(filepath + "../"+ "corpus_wikipedia.csv")  
df_corpus.head()

             Food  Cuisine alternative names
0     bak kut teh  Chinese       bak kut teh
1  beef kway teow  Chinese    beef kway teow
2       bak chang  Chinese         bak chang
3    bak chor mee  Chinese      bak chor mee
4        ban mian  Chinese          ban mian

In [10]:
df_corpus.shape

(129, 3)

## Wikipedia corpus food

In [11]:
df["food"] = df["caption"].apply(label_from_df_column(df_corpus, "alternative names", "Food"))

## Wikipedia corpus cuisine

In [12]:
df["cuisine"] = df["food"].apply(label_from_df_column(df_corpus, "Cuisine", "Food"))

# Dummy Food

## Dummy Food names

In [ ]:
corpusname = "dummyfood"

todo: replace with real food names

In [6]:
# # Set seed for reproducibility
# np.random.seed(0)

In [7]:
# df["food"] = np.char.add(np.array(["food "]*numposts), np.random.randint(10, size=numposts).astype('str'))
# df.head()

## Dummy Food Cuisine

In [7]:
food_corpus = df["food"].unique()
food_corpus

array(['food 5', 'food 0', 'food 3', 'food 7', 'food 9', 'food 2',
       'food 4', 'food 6', 'food 8', 'food 1'], dtype=object)

In [8]:
cuisines_corpus = {"cuisine1": ['food 1', 'food 2', 'food 3'],
                   "cuisine2": ['food 4', 'food 5'],
                   "cuisine3": ['food 6'],
                   "cuisine4": ['food 7', 'food 8', 'food 9']
                  }

In [9]:
def get_cuisine(food):
    for cuisine, foods in cuisines_corpus.items():
        if food in foods:
            return cuisine
    return "No cuisine found"

In [10]:
df['cuisine'] = df["food"].apply(get_cuisine)
df.head()

,timestamp,Username,caption,no. of likes,no. of comments,comments,food,cuisine
0,30/6/2020,8days_eat,Katong’s famous Hokkien mee and fried mee sua ...,326,7,"['@lauren.khoury still can’t crack a smile 😬',...",food 5,cuisine2
1,30/6/2020,8days_eat,"For the first time in Singapore, Heytea will b...",258,3,"['Awesomeeeee neeed this now', '@becauseitsdon...",food 0,No cuisine found
2,29/6/2020,8days_eat,Korean “fat-carons” — supersized macarons stuf...,453,3,['#8dayseat #sgfoodies #instafood #yum #sgfood...,food 3,cuisine1
3,29/6/2020,8days_eat,Online ordering system Oddle has launched a ne...,287,3,"['THANK YOU 👀📸🔥', 'Absolutely love this tinkat...",food 3,cuisine1
4,29/6/2020,8days_eat,A canelé is a bite-sized French pastry from Bo...,431,3,"['@jet8food , I see it! 😁', '@brave_nic', '🙏🏼💗💗']",food 7,cuisine4

## Viewing Labelled Dataset

In [13]:
df[["caption", "food", "cuisine"]]

                                                caption         food  cuisine
0     katong’s famous hokkien mee and fried mee sua ...  hokkien mee  Chinese
1     for the first time in singapore, heytea will b...         None     None
2     korean “fat-carons” — supersized macarons stuf...         acar    Malay
3     online ordering system oddle has launched a ne...         None     None
4     a canelé is a bite-sized french pastry from bo...         None     None
...                                                 ...          ...      ...
1035  butadon with egg.\r\n\r\nwhen you see shabu sh...         None     None
1036  here’s a recap of that famous grilled cheese s...         None     None
1037  a healthy sunday start with chobani greek yogh...         None     None
1038  crispy salmon in vegetable broth.\r\n\r\nthank...         None     None
1039  stuffed squid with glutinous rice.\r\n\r\nsoak...         None     None

[1040 rows x 3 columns]

In [14]:
df[~df["food"].isna()]

,timestamp,Username,caption,no. of likes,no. of comments,comments,food,cuisine
0,30/6/2020,8days_eat,katong’s famous hokkien mee and fried mee sua ...,326,7,"['@lauren.khoury still can’t crack a smile 😬',...",hokkien mee,Chinese
2,29/6/2020,8days_eat,korean “fat-carons” — supersized macarons stuf...,453,3,['#8dayseat #sgfoodies #instafood #yum #sgfood...,acar,Malay
5,29/6/2020,8days_eat,"@7elevensg now has $2, $3 and $4 all-day break...",148,0,[],kopi,Drinks and beverages
15,23/6/2020,8days_eat,breaking news: nine-year-old french patisserie...,647,15,"['Omg @xin_yx', 'When is the last day?', '@car...",yong tau foo,Chinese
21,21/6/2020,8days_eat,tapow feast from @fullertonhotelsg ”dine at ho...,243,1,['Looks so good!! 😍😍'],hainanese chicken rice,Chinese
...,...,...,...,...,...,...,...,...
972,11/6/2020,thesilverchef,"red bean pancakes, here is the recipe again fo...",555,2,"['This looks so tasty! 😍', '♥♥♥♥♥']",popiah,Chinese
976,10/6/2020,thesilverchef,"shakshuka, a middle eastern breakfast favourit...",428,1,['Wow looks easy. Ok this weekend 🙌'],rojak,Cross-cultural
979,9/6/2020,thesilverchef,"here’s a recap of doraemon favourite dessert, ...",461,18,"['😋😋😋', 'Doriyaki 😍', 'Soooo excited to try th...",kopi,Drinks and beverages
996,3/6/2020,thesilverchef,after cooking exclusively at home and making a...,359,4,['Even outside food you make it so yummyliciou...,bak kut teh,Chinese
1026,3/6/2020,thesilverchef,after cooking exclusively at home and making a...,359,4,['Even outside food you make it so yummyliciou...,bak kut teh,Chinese

In [18]:
print(df["food"].unique())
print(df["food"].nunique())

['hokkien mee' None 'acar' 'kopi' 'yong tau foo' 'hainanese chicken rice'
 'bak chang' 'kuih' 'pulut hitam' 'milo' 'biryani' 'char kway teow'
 'mee pok' 'duck rice' 'roti prata' 'teochew porridge' 'chai tow kway'
 'satay' 'chilli crab' 'assam pedas' 'appam' 'sambal' 'hum chim peng'
 'dosa' 'char siu' 'curry puff' 'bubur cha cha' 'keropok' 'har cheong gai'
 'cereal prawns' 'rawon' 'soto' 'oyster omelette' 'bandung' 'bak kut teh'
 'popiah' 'frog leg porridge' 'ban mian' 'horlicks' 'crab bee hoon'
 'fish head curry' 'mee siam' 'ketupat' 'rojak']
43

In [19]:
print(df["cuisine"].unique())
print(df["cuisine"].nunique())

['Chinese' None 'Malay' 'Drinks and beverages' 'Desserts' 'Cross-cultural'
 'Indian' 'Seafood']
7

In [20]:
df[df["cuisine"] == 'Cross-cultural']["food"].unique()

array(['biryani', 'cereal prawns', 'fish head curry', 'mee siam', 'rojak'],
      dtype=object)

# Exporting Dataset

In [52]:
df.to_csv(filepath + filename[:-4] + "_" + corpusname + ".csv")